body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh; /* vh means Viewport height */
}
main {
  flex: 1; /* flex to 1 to occupy a space between the header and the footer */
}
.btn-primary {
  background-color: #f0c040; /* color for the add to cart button */
  color: #000000; /* text on add to card button */
}
.products {
  display: flex; /* put item image next to each other */
  flex-wrap: wrap; /* to make image and price etc responsive */
  justify-content: center;
}
.rating span {
  color: #ffc000; /* color for the stars on reviews */
}

.product {
  border: 1px #404040 solid; /* set border to 1px dark color solid */
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px; /* you can use this to change the image size on the screen */
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
